body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(images/backimg2.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}.navbar-brand{
    font-weight:600;
    font-size:28px;
}.nav-link{
    font-size:20px;
}.nav-right{
    margin-right: 60px;
    
}.navbar{
    background: transparent;
    color: white;
}#frstdv{
     height:90vh;
     position: relative;
     padding: 0;    
}#frstdv h1{
    color: white;
    font-family:Montserrat;
}
.frstdvtxt{
    position: absolute;
    bottom: 0;
    text-align: center;
}
#thrwrtng{
    margin-top: 5vh;
}

#spcdv{
       height: 65vh;
       padding-top:9vh;
       margin-top: 5vh;
       text-align: center;
       background-color: white;     
} 
.expimg {
    position: relative;
    text-align: center;
    color: rgb(225, 220, 220);
    background-color:black;
    background-size: cover;
    width: 100%;
  }
.wrt-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
  }
.wrtxtin{
    font-size:30vh;
}
.round-fst{
    padding:10vh;
    background-color: white;
}
.round-fst-img{
    width: 50vh;
}
.disdv{
    background-color: rgb(184, 84, 144);
    text-align: center;
    font-size: 25vh;
    color: white;

}
.round-sec{
    background-color: white;
}
.round-sec-img{
    width: 50vh;
}
.yldv{
    background-color: rgb(240, 175, 78);
    text-align: center;
    font-size: 20vh; 
}
.yldv-txt{
    margin-top: 8vh;
    margin-bottom: 8vh;
    color: #fff;
}
.seclsdv{
    padding-top:12vh;
    padding-bottom: 10vh;
     color: white;
    text-align: center;
    background-color: rgb(75, 72, 72);     
}
.seclsdv-list li{
    list-style: none;
    font-size: 3vh;
    font-weight:600;
    margin: 3vh;
}
#seclsdv-list-row{
    margin-top: 6vh;
}
.lst-dv{
    padding-top:12vh;
    padding-bottom: 10vh;
    text-align: center;
    background-color:white;     
}
#prce{
    color: rgb(226, 161, 87);
}
#lst-dv-prcebx{
    margin-bottom: 10vh;
}
.lst-dv-knm{
    padding-top:12vh;
    padding-bottom:20vh;
    text-align: center;
    background-color:white; 
}
.cntdts{
    margin-bottom: 15vh;
}
footer{
    background-color: black;
    text-align: center;
    padding-top:3vh;
    height: 9vh;
    z-index:0;
}
.ftr{
    color: #fff; 
}


@media only screen and (max-width:960px){
    .wrtxtin{
        font-size:7vh;
        font-weight: 100;
    }
    .round-fst-img{
        width: 50vh;
    }
    .disdv-txt{
        font-size:7vh;
        font-weight: 100;
    }
    .round-sec-img{
        width: 50vh;
    }
    .yldv-txt{
        font-size:7vh;
    }
    .seclsdv-list li{
        margin: 0vh;
    }
    .ftr{
        font-size: small;
    }
    
}